

h5{

    color: #186AA5;

    margin: 20px;

    text-decoration: underline;

}

​

​

.p-house{

    margin: 20px;

    font-size: 20px;

}

​

img{

     margin: 20px;

    background-size: cover;  

}

​

.image-about{

    width: 80%;

    height: 80%;

    object-fit: cover;

    margin: 20px

}

